/* colours ecf4e8 cbf3bb abe7b2 93bfc7 */

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #F3FDE8;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template: 0.4fr 1fr 0.1fr / 1fr 1fr 1fr 1fr 1fr;
  gap: 3rem;
  /* background-color: #F3FDE8; */
  font-family: "Roboto", sans-serif;
  
}

.content-container {
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr auto / 1fr;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #F3FDE8;
  grid-column: span 5;
  display: flex;
  
  color: #062e03;
  justify-content: space-between;
}

.content-header {
  display: flex;
  justify-content: space-around;
}

.content {
  border: 5px solid #062e03;
  padding: min(5em, 8%);
  margin: 0 2rem 2rem 2rem;
  border-radius: 20px;
  max-width: 1000px;
  justify-self: center;
  /* align-self: center; */
}

.sidebar {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #F3FDE8;
}

.footer {
  background-color: #93bfc7;
  color: #003153;
  grid-column: span 5;
}

.content-footer {
  background-color: #93bfc7;
  color: #003153;
}

.tile {
  color: #062e03;
  border-radius: 30px;
  border: 5px solid #A6B79E;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 15px;
  text-align: center;
  
}

.list li {
  margin: 1rem;
  list-style: none;
  color: #062e03;
}

h1 {
  margin-left: 2rem;
  font-size: clamp(1.8rem, calc(4vw + 1rem), 4rem);
}

.fish-pic {
  height: 150px;  
}

.content-pic {
  width: max(175px, 25%);
  border-radius: 15px;
}

.left-pic {
  float: left;
  margin: 0 1.2rem 1.2rem 0;
}

.right-pic {
  float: right;
  margin: 0  0 1.2rem 1.2rem;
}

.tile > img {
  width: 85%;
  border-radius: 15px;
}

.tile-anchor {
  display: flex; /* or display: flex if your div uses flexbox */
  text-decoration: none;
  color: inherit;
  height: 100%; /* makes sure it fills the full height */
}

@media (min-width: 1025px) and (max-width: 1280px) {

  .grid-container {
  display: grid;
  grid-template: 0.4fr 1fr 0.1fr / 1fr 1fr 1fr 1fr;
  }

  .four {
    display: none;
  }

  .carp-1 {
    display: none;
  }

  .carp-3 {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {

  .grid-container {
  display: grid;
  grid-template: 0.4fr 1fr 1fr 0.1fr / 1fr 1fr 1fr;
  }

  .header {
  grid-column: span 3;
  }

  .sidebar {
    grid-area: 2 / 1 / 4 / 2;
    background-color: #F3FDE8;
  }

  .footer {
    grid-column: span 3;
  }

  .carp-1 {
    display: none;
  }

  .carp-3 {
    display: none;
  }

  .carp-4 {
    display: none;
  }

}

@media (max-width: 599px) {

  .grid-container {
    grid-template: 0.3fr 1fr 1fr 1fr 0.1fr / 1fr;
    align-items: center;
  }

  .sidebar {
    grid-area: span 1;
    overflow-x: scroll;
  }

  .header {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tile {
    margin: 0px;
  }

  .footer {
    grid-column: span 1;
  }

  .carp-1 {
    display: none;
  }

  .carp-3 {
    display: none;
  }

  .carp-4 {
    display: none;
  }
}

/* .roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */